header, main, footer {
  padding-left: 160px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
/* Color de fondo*/
body {
	background-color: #fafafa;
}
/* Alinear encabezados*/
h2, h4 {
	text-align: center;
}

.side-nav {
  width: 190px !important;
}

ul.side-nav.fixed li {
  line-height: 40px;
  clear: left;
}

ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul.side-nav.fixed li a {
  font-size: 13px;
  height: 48px;
  padding: 0 15px;
}

ul.side-nav.fixed li a i {
margin-right: 10px;
}

nav .brand-logo{
  font-size: 1.5rem !important;
}

.app a {
    //margin: 40px 0;
    font-size: 7rem;
    display: block;
}
.app-caption {
    color: #424242;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}
#logo-container {
    height: 35px;
}

#logo-container:hover {
  background-color: transparent !important;
}

#front-page-logo {
    display: inline-block;
    width: 100%;
    pointer-events: none;
}
#logo-container:hover {
  background-color: transparent !important;
}
#front-page-logo {
    display: inline-block;
    width: 100%;
    pointer-events: none;
}

.input-field{
  margin-top: 0px;
}
.select-dropdown {
  margin-bottom: 0px !important;
  width: 100% !important;
}
.side-nav .divider {
  margin: 0px !important;
}





