body {
  background-color: #fafafa;
}
#reportar{
  padding: 0px 15px 4px 15px;
  font-size: 12px;
  text-transform: capitalize;
}

#Rescancelar{
  padding: 0px 15px 4px 15px;
  font-size: 12px;
  text-transform: capitalize;
}

.tr_hover {
	background-color: #ffccee
}

textarea.materialize-textarea {
    padding: 0;
}








