
.file-field .btn, .file-field .btn-large {
    float: left;
    height: 1.5rem;
    line-height: 1.5rem;
}
.modal
{
	max-height: 90%;	
}
h2 {
    font-size: 2rem;
}
.file-field .btn, .file-field .btn-large {
    float: left;
    height: 2rem;
    line-height: 2rem;
}
.row .col.offset-s2 {
    margin-top: 3%;
}

input[type='text']
{
	text-transform: uppercase;
}

textarea 
{
	text-transform: uppercase;	
}
