/*{
	margin: 0;
	padding: 0;
}
/* Color de fondo*/
/*body {
	background-color: #fafafa;
}
.row .btn-group{
  display: flex;
  justify-content: center;
}*/
.container {
	margin:none;
    margin-left: 45px;
}
