body {
  background-color: #fafafa;
}

.file-field .btn, .file-field .btn-large {
    float: left;
    height: 2rem;
    line-height: 2rem;
    width: 6rem;
    padding: 0;
    font-size: 0.8rem;
}

/*div .alerta {
	width: 980px;
	height: 400px;
	background: #ffd740;
	color: #d50000;
}

h1 {
	margin: 50px;
	padding: 20px;
	font-size: 208px;
}*/









